<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Some web site</title>
    </head>
    <body>
        {{> header}}
        <p>{{leadMsg}}</p>
        <div style='color:red'>{{screamIt welcomeMsg}}</div>
        {{> footer}}
    </body>
</html>