<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Some web site</title>
    </head>
    <body>
        {{> header}}
        <small>all about me</small>
        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
        <p>Address: {{address}}</p>
        {{> footer}}
    </body>
</html>